/* icons */

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"),
         local("MaterialIcons-Regular"),
         url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff2) format("woff2"),
         url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff) format("woff"),
         url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.ttf) format("truetype");
  }
  
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
  
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  
.loader {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; 
   margin-left: -250px;
}

.customMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.customMargin2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.customMarginLR {
    margin-left: 10px;
    margin-right: 10px;
}

.customPadding {
    padding: 10px;
}

.titleFontStylePV {
    font-weight:bold;
}


/* Nav */

.is-active {
    font-weight: bold;
    color: #fff;
    background-color: black;
}

nav .brand-logo {
    color: black;
}

nav li a {
    color:black;
}

.navpadding {
    padding-left: 30px;
    padding-right: 30px;
}

#nav-mobile {
    background-color: yellow;
}

#nav-mobile a {
    color: #000;
    background-color: yellow;
}

#nav-mobile a:hover {
    color: yellow;
    background-color: black;
}





/* custom blockquote */

blockquote {
    border-left: 3px solid yellow;
    font-style: italic;
}


/* footer */

.footerMarginTop {
    margin-top: 50px;
}

.footer-color {
    color: black;
}